body {
	font-family: 'Roboto', sans-serif;
	-webkit-transition: .4s;
  transition: .4s;
  margin: 0;
}

.unlockFont {
  font-family: 'Roboto', serif;
}

.card{
  border:0px;
  border-radius: 0px;
}

.App {
  background: #f9f9f9;
  display: flex;
  height: 100vh;
}

.main-content {
  width: 80vw;
}

.main-content .timetable {
  background: #fff;
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
}



.table td {
  height: 8vh;
  padding: 0;
  text-align: center;
  width: calc(60vw / 9);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
}

.table th {
  padding: 0.5rem;
}
footer {
  display: flex;
  flex-grow: 1;
  background: #f9f9f9;
  padding: 1rem;
}

footer .row {
  width: 30vw;
}

aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background: #ececec;
}

aside h1 {
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 3rem 0 0;
  text-align: center;
}


.accordion {
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  font-weight: lighter;
  font-size: 1rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 0;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion svg {
  height: 1.1rem;
  vertical-align: middle;
}

.panel.open {
  max-height: inherit;
  transition: max-height 0.2s ease-out;
}



/*navbar*/

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  color: #fff;
  background: hsl(350, 83%, 57%);
}

nav .logo {
  margin-right: auto;
}

nav a svg {
  text-decoration: none;
  color: #fff;
}

nav svg {
  padding: 0 1rem;
  color: #ffffffaa;
}

.search {
  display: flex;
  justify-content: center;
}

#search-bar {
  border-radius: 6px;
  padding: 0 0 0 1rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 35px;
	-webkit-transition: .4s;
  transition: .4s;
  background: #F5F5F5;
  color: #2e2e2e;
  border: none;
}

#search-but {
  color: #9e9e9e;
  background: #F5F5F5;
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 50px;
  height: 35px;
  font-size: 20px;
	-webkit-transition: .4s;
	transition: .4s;
}

#search-but svg {
  height: 16px;
}

.search:focus-within #search-but {
  color: hsl(350, 83%, 57%);
}

input[type=search] {
	font-weight: bold;
	border-color: #2e2e2e;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	outline: none;
	padding: 10px 20px 10px 20px;
	width: 250px;
}
/*Css to target the dropdownbox*/
ul.ui-autocomplete {
	background: black;
	z-index: 9999;
	color: white !important;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


#search-but:hover {
  color: hsl(350, 83%, 57%);
  background: white;
}

/*table*/

.timetable {
  font-family: sans-serif;
  padding: 2rem 0 0 4rem;
}

.timetable .card-header {
  font-family: 'Roboto', serif;
  font-weight: lighter;
}

.timetable #details-div {
  font-size: 0.8rem;
}

.timetable table {
  font-size: 0.8rem;
}

.timetable .info {
  color: #c31432;
}

.table .table-danger{
  background-color: hsl(350, 83%, 57%);
}
.border.border-danger {
  box-shadow: inset 0 0 0px 4px hsl(350, 83%, 57%);
}
/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(82, 78, 78, 0.493);
} */
/*courses list*/

.courses {
  color: black;
}

.panel.open {
  list-style: none;
  padding: 0.5rem;
  border-radius: 6px;
}

.course:hover{
  background-color: #ececec;
}

.course{
  padding: 0.5rem;
  margin: 2px 0px;
  border-radius: 6px;
  color: #2e2e2e;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

li.course.active {
  border:0px;
  background-color: hsl(350, 83%, 57%);
  color: #fff;
}

#minor-div {
  padding-top: 1.5rem;
  height: 70vh;
  overflow-y: auto;
}

/*footer form*/
#det-footer {
	border-radius: 4px;
}

#file-in {
  background: inherit;
  border: none;
  font-family: 'Roboto', serif;
}
.ui-autocomplete{
  max-height: 300px;
  overflow-y: auto;
}

/* toggle switch */
.switch {
	position: relative;
	display: inline-block;
  width: 60px;
	height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: rgb(60, 56, 63);
  }

  input:focus + .slider {
	box-shadow: 0 0 1px rgb(63, 59, 63);
  }

  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }

  .slider.round:before {
	border-radius: 50%;
  }
  /* toggle switch ends */

  .card, .courses, .timetable {
	-webkit-transition: .4s;
	transition: .4s;
  }