:root {
  --main-color: #ec3654;
  --bg-color: #fff;
  --text-color: #2e2e2e;
  --search-color: #2e2e2e;
}


body {
	font-family: 'Roboto', sans-serif;
	-webkit-transition: .4s;
  transition: .4s;
  margin: 0;
  background: var(--bg-color);
  height: 100vh;
  overflow: hidden;
}

.unlockFont {
  font-family: 'Roboto', serif;
}

.card{
  border:0px;
  border-radius: 0px;
}

.App {
  background:#00000010;
  display: flex;
  height: 100vh;
}

.main-content {
  width: 80vw;
}

.main-content .timetable {
  background: var(--bg-color);
  padding: 2rem 0 6rem;
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  margin-right: 6rem;
}

.table td {
  height: 8vh;
  padding: 0;
  text-align: center;
  width: calc(60vw / 9);
  border: 1px solid #00000040;
  cursor: pointer;
  /* border-radius: 6px; */
}

.table tr:nth-child(2n) td {
  background: #00000010;
}

.table tr:nth-child(2n) td.table-danger {
  background: var(--main-color);
}

.table tr th:nth-child(1) {
  text-align: right;
}


.table th {
  padding: 0.5rem;
}
footer {
  display: flex;
  flex-grow: 1;
  padding: 1rem 4rem;
  color: var(--text-color);
}

footer .row {
  width: 30vw;
}

footer a {
  text-decoration: none;
  color: var(--main-color);
}

aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background: #00000010;
}

aside h1 {
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 3rem 0 0;
  text-align: center;
  color: var(--text-color)
}


.accordion {
  color: var(--text-color);
  cursor: pointer;
  width: 100%;
  border: none;
  font-weight: lighter;
  font-size: 1rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 0;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion svg {
  height: 1.1rem;
  vertical-align: middle;
}

.accordion.active {
  font-weight: bold;
}

.panel.open {
  max-height: inherit;
  transition: max-height 0.2s ease-out;
}



/*navbar*/

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  color: #fff;
  background: var(--main-color);
}

nav .logo {
  margin-right: auto;
}

nav a svg {
  text-decoration: none;
  color: #fff;
}

nav svg {
  padding: 0 1rem;
  color: #ffffffaa;
}

.search {
  display: flex;
  justify-content: center;
}

#search-bar {
  border-radius: 6px;
  padding: 0 0 0 1rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 35px;
	-webkit-transition: .4s;
  transition: .4s;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
}

#search-but {
  color: var(--text-color);
  background: var(--bg-color);
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 50px;
  height: 35px;
  font-size: 20px;
	-webkit-transition: .4s;
	transition: .4s;
}

#search-but svg {
  height: 16px;
}

.search:focus-within #search-but {
  color: var(--main-color);
}

input[type=search] {
	outline: none;
  width: 200px;
}
/*Css to target the dropdownbox*/
.ui-widget.ui-widget-content {
  border: none;
  width: 250px !important;
  overflow-x: hidden;
}
ul.ui-autocomplete {
  font-size: 0.8rem;
	background: var(--bg-color);
	z-index: 9999;
	color: var(--text-color) !important;
  border-radius: 6px;
  box-shadow: 0px 20px 40px -10px #2e2e2e75;
}


#search-but:hover {
  color: var(--main-color);
  background: white;
}

/*table*/


.timetable .card-header {
  font-family: 'Roboto', serif;
  font-weight: lighter;
}

.timetable #details-div {
  font-size: 0.8rem;
}

.timetable table {
  font-size: 0.8rem;
}

.table .table-danger{
  background-color: var(--main-color);
  color: #fff;
}
.border.border-danger {
  box-shadow: inset 0 0 0px 4px var(--main-color);
}

.table th {
  font-weight: 400;
}
/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(82, 78, 78, 0.493);
} */
/*courses list*/

.panel.open {
  list-style: none;
  padding: 0.5rem;
  border-radius: 6px;
  background: var(--bg-color);
}

.course:hover{
  background-color: #00000020;
}

.course{
  padding: 0.5rem;
  margin: 2px 0px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-color);
}

li.course.active {
  border: 0px;
  background-color: var(--main-color);
  color: #fff;
}

#minor-div {
  padding-top: 1.5rem;
  height: 70vh;
  overflow-y: auto;
}

/*footer form*/
#det-footer {
	border-radius: 4px;
}

#file-in {
  background: inherit;
  border: none;
  font-family: 'Roboto', serif;
}
.ui-autocomplete{
  max-height: 300px;
  overflow-y: auto;
}

/* toggle switch */
.switch {
	position: relative;
	display: inline-block;
  width: 60px;
	height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: rgb(60, 56, 63);
  }

  input:focus + .slider {
	box-shadow: 0 0 1px rgb(63, 59, 63);
  }

  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }

  .slider.round:before {
	border-radius: 50%;
  }
  /* toggle switch ends */

  .card, .courses, .timetable {
	-webkit-transition: .4s;
	transition: .4s;
  }