<!doctype html>
<html lang="en">
	<head>
        <title>About page</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutpage.css') }}">

        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
  
    <body>
	

        
        <div id="main-profile-image">
            <img src="{{ url_for('static', filename='hg.png') }}" alt="Image" />
        </div>
        
        <div class="wrapper">
   
            
            <header>
                <h1>About Page</h1>
                <h2>A little bit about What Slot </h2>
            </header>


            
            <main>
                <article>
                    <p>What Slot is a website which organizes your time table for additional courses and minor and is currently hosted at <a href=" https://what-slot-kgp.herokuapp.com/" title="WhatSlot">what-slot</a>.</p>

                    <p> <strong>Made with love in PYTHON.</strong></p>	

                </article>                  

            </main>

            <div class="social-icons">
				
                <a href="https://github.com/arnav-t/what-slot"><i class="fa fa-github fa-3x"></i></a>
				
            </div>


            
            <footer>
                    <p>What Slot: Your personal time table organizer. </p>
            </footer>
        </div>


    </body>
</html>