<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>


<div class="ct-pageWrapper" id="ct-js-wrapper">
                <section class="company-heading intro-type" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                               
                            </div>
                        </div>
                    </div>
                    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);height:400px">
                        
                        &nbsp;
                    </div>
                    <div>
                <h2 style="color:white; top:50px;position: absolute; 
               margin-left: 500px;
    margin-bottom: 100px;
    margin-top: 130px;font-size: 600%;text-align: center;"><b>About Us</b></h2>
                  </div>
                    
                </section>
                <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
                    <div class="container text-center">
                        <h2 style='text-align:center;font-style: italic;color: gray;font-size: 300%;'>
                            What-Slot
                        </h2>
                        <h3 style="font-size: 120%;">
                            We let the students of IIT Kharagpur to choose the subjects for minor wisely and easily.Detailed information about the available subjects for minor is provided, including professor undertaking the course, credits, lecture-theory-practical distribution and room number. Students no more have to freak themseves at the time of selection of additionals!
                        </h3>
                    </div>
                        <div class="col-md-8 col-md-offset-2">
                            
                            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40"style='font-size: 200%;font-style: inherit;color: #6ab2ca;margin-left: 20px;'>
                               Follow the following steps to get the process done -
                            </p><!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
                            <ul style='font-size: 135%;'><i>
                                <li>Upload your time table. You can use GYFT link provided to you for this purpose which will directly download your timetable from ERP using your ERP log in information.
                                </li>
                                <br>
                            
                            <li>Once you upload your time table you can see the shaded slots in the time table which are occupied and cannot be allotted for any additionals.<b> Note:</b>You can also manually mark the occupied slots without uploading your timetable from your desktop.
                            </li>

                            <br>
                            <li>Now you can chose the department you wish to do a minor in. Available courses for that semester will be displayed on the right.
                            </li>
                            <br>
                            <li>You can check every course for available slots. Along with it other details will also be provided.
                            </li>
                            </i></ul>
                            <h3 style="font-size: 130%;color: red;"><i><b>Congratulations! You successfully chose an additional!</b></i></h3>
                          </div>
                        
                      </section>
                  </div>

 </div>                     



</body>
</html>

