<!DOCTYPE html>
<html>

<head>
  <title>what-slut</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- BOOTSTRAP -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- JQUERY -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- GOOGLE FONTS -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
  <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main-new.css') }}">
</head>

<body>

  <div class="App">
    <div class="main-content">

      <nav>
        <div class="logo">
          <h1>What Slot</h1>
        </div>
        <a href=""> <i data-feather='github'></i> </a>
        <i data-feather='sun'></i>
        <label class="switch">
          <input type="checkbox" onclick="toggleDarkLight()">
          <span class="slider round"></span>
        </label>
        <i data-feather='moon'></i>

      </nav>

      <div class="timetable">
        <table class="table " id="timet">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">8:00 - 8:55</th>
              <th scope="col">9:00 - 9:55</th>
              <th scope="col">10:00 - 10:55</th>
              <th scope="col">11:00 - 11:55</th>
              <th scope="col">12:00 - 12:55</th>
              <th scope="col">14:00 - 14:55</th>
              <th scope="col">15:00 - 15:55</th>
              <th scope="col">16:00 - 16:55</th>
              <th scope="col">17:00 - 17:55</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mon</th>
              <td id="00"></td>
              <td id="01"></td>
              <td id="02"></td>
              <td id="03"></td>
              <td id="04"></td>
              <td id="05"></td>
              <td id="06"></td>
              <td id="07"></td>
              <td id="08"></td>
            </tr>
            <tr>
              <th scope="row">Tue</th>
              <td id="10"></td>
              <td id="11"></td>
              <td id="12"></td>
              <td id="13"></td>
              <td id="14"></td>
              <td id="15"></td>
              <td id="16"></td>
              <td id="17"></td>
              <td id="18"></td>
            </tr>
            <tr>
              <th scope="row">Wed</th>
              <td id="20"></td>
              <td id="21"></td>
              <td id="22"></td>
              <td id="23"></td>
              <td id="24"></td>
              <td id="25"></td>
              <td id="26"></td>
              <td id="27"></td>
              <td id="28"></td>
            </tr>
            <tr>
              <th scope="row">Thu</th>
              <td id="30"></td>
              <td id="31"></td>
              <td id="32"></td>
              <td id="33"></td>
              <td id="34"></td>
              <td id="35"></td>
              <td id="36"></td>
              <td id="37"></td>
              <td id="38"></td>
            </tr>
            <tr>
              <th scope="row">Fri</th>
              <td id="40"></td>
              <td id="41"></td>
              <td id="42"></td>
              <td id="43"></td>
              <td id="44"></td>
              <td id="45"></td>
              <td id="46"></td>
              <td id="47"></td>
              <td id="48"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer>
        <div class="row">
          <i class="info">Click on a slot to mark it as occupied</i>
          <h6 class="col-12 unlockFont">Upload ICS file of your timetable from <a href="https://gyftkgp.herokuapp.com/"
              target="_blank">GYFT</a></h6>
          <input id="file-in" type="file" class="form-control col-auto" onchange="readICS()">
        </div>
        <div id="details-div"></div>

      </footer>


    </div>
    <aside class="sidebar">
      <div class="Courses">
        <div class="search">
          <input id="search-bar" placeholder="Search for courses">
          <button type="button" id="search-but"><i data-feather="search"></i></button>
        </div>
        <h1>Minor Courses</h1>
        <div id="minor-div"></div>
      </div>
    </aside>
  </div>

</body>
<script src="{{ url_for('static', filename='mainScript.js') }}"></script>

</html>